# 1. Ignorar absolutamente todo
*

# 2. Permitir el propio .gitignore
!.gitignore

# 3. Permitir solo kit portable, instalador publico y docs raiz
!GEMINI.md
!MEMORY.md
!GEMINI_BLUEPRINTS.md
!portable-kernel.sh
!portable-kernel-windows.ps1
!minimum-kernel.bundle.tar.gz
!install.sh
!README.md
!FEATURES_EN.md
!FEATURES_ES.md
!LICENSE
